
body {
    margin: 0;
}
.flexcontainer {
    display: flex;
    flex-direction: row;
}
.box1{
    background-color: darkgreen;
    text-align: center;
    color: white;
    height: 100px;
    width: 100px;
    padding: 5px;
    flex-grow: 1;
}
.box2{
    background-color: blue;
    text-align: center;
    color: white;
    height: 100px;
    width: 100px;
    padding: 5px;
    flex-grow: 1;
}
.box3{
    background-color: purple;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    padding: 5px;
    flex-grow: 1;
}
.box4{
    background-color: black;
    text-align: center;
    color: white;
    height: 100px;
    width: 100px;
    padding: 5px;
    flex-grow: 2;
}