body {
    margin: 5px;
}

.body{
    background-color: black;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box1{
    background-color: darkgreen;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 10px;
    flex-grow: 1;
    border-radius: 5px;
    border:white 1px solid;
}

.box2{
    background-color: darkviolet;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    border:white 1px solid;
}

.linebreak{
    background-color: darkgrey;
    height: 2px;
    flex-basis: 100%;
}